<!-- <div class="container"> -->
<header class="header">
  <div class="left-header">
    <button class="grid-view"><i class="far fa-th-large"></i></button>
    <div class="screen-recording">
      <i class="far fa-record-vinyl"></i>
      <div class="timer">00:22:23</div>
    </div>
  </div>
  <div class="right-header">
    <button class="menu">
      <span class="material-symbols-outlined"> segment </span>
    </button>
    <button class="people"><i class="fal fa-user-friends"></i></button>
    <button class="chat"><i class="far fa-comment-lines"></i></button>
    <button class="emojis">
      <span class="material-symbols-outlined"> emoji_language </span>
    </button>
    <button class="more"><i class="fas fa-ellipsis-h"></i></button>
    <button class="video"><i class="fas fa-video"></i></button>
    <button class="mic"><i class="fas fa-microphone"></i></button>
    <button class="share">
      <span class="material-symbols-outlined"> screen_share </span>
    </button>
    <button class="leave-btn">
      <div class="phone-icon">
        <span class="material-symbols-outlined"> call_end </span>
      </div>
      <h2>Leave</h2>
      <div class="chevron-icon"><i class="fas fa-chevron-down"></i></div>
    </button>
  </div>
</header>
<div class="screen-off-container">
  <div class="grid-item">
    <img src="../assets/img/1.jpg" alt="Image 5" />
    <p class="person-name">George John</p>
  </div>
  <div class="grid-item">
    <img src="../assets/img/2.jpg" alt="Image 5" />
    <p class="person-name">George John</p>
  </div>
  <div class="grid-item">
    <img src="../assets/img/3.jpg" alt="Image 5" />
    <p class="person-name">George John</p>
  </div>
  <div class="grid-item">
    <img src="../assets/img/4.jpg" alt="Image 5" />
    <p class="person-name">George John</p>
  </div>
  <div class="grid-item">
    <img src="../assets/img/5.jpg" alt="Image 5" />
    <p class="person-name">George John</p>
  </div>
  <div class="grid-item">
    <img src="../assets/img/6.jpg" alt="Image 5" />
    <p class="person-name">George John</p>
  </div>
  <div class="grid-item">
    <img src="../assets/img/7.jpg" alt="Image 5" />
    <p class="person-name">George John</p>
  </div>
</div>
<!-- <div class="screenshare-container">
  <div class="grid-item1">
    <img src="../assets/img/1.jpg" alt="Image 5" />
    <p class="person-name">George John</p>
  </div>
  <div class="grid-item2">
    <div class="person-with-video">
      <img src="../assets/img/1.jpg" alt="Image 5" />
      <p class="person-name">George John</p>
    </div>
    <div class="person-with-video">
      <img src="../assets/img/1.jpg" alt="Image 5" />
      <p class="person-name">George John</p>
    </div>
    <div class="person-with-video">
      <img src="../assets/img/1.jpg" alt="Image 5" />
      <p class="person-name">George John</p>
    </div>
    <div class="person-with-video">
      <img src="../assets/img/1.jpg" alt="Image 5" />
      <p class="person-name">George John</p>
    </div>
    <div class="person-with-video">
      <img src="../assets/img/1.jpg" alt="Image 5" />
      <p class="person-name">George John</p>
    </div>
    <div class="person-with-video">
      <img src="../assets/img/1.jpg" alt="Image 5" />
      <p class="person-name">George John</p>
    </div>
    <div class="person-with-video">
      <img src="../assets/img/1.jpg" alt="Image 5" />
      <p class="person-name">George John</p>
    </div>
  </div>
  <div class="grid-item3">
    <div class="person-without-video">
      <div class="round-img">
        <img src="../assets/img/1.jpg" alt="Image 5" />
      </div>
    </div>
    <div class="person-without-video">
      <div class="round-img">
        <img src="../assets/img/1.jpg" alt="Image 5" />
      </div>
    </div>
    <div class="person-without-video">
      <div class="round-img">
        <img src="../assets/img/1.jpg" alt="Image 5" />
      </div>
    </div>
    <div class="person-without-video">
      <div class="round-img">
        <img src="../assets/img/1.jpg" alt="Image 5" />
      </div>
    </div>
    <div class="person-without-video">
      <div class="round-img">
        <img src="../assets/img/1.jpg" alt="Image 5" />
      </div>
    </div>
    <div class="person-without-video">
      <div class="round-img">
        <p>ET</p>
      </div>
    </div>
    <div class="person-without-video">
      <img class="s-share" src="../assets/img/1.jpg" alt="Image 5" />
    </div>
  </div>
</div> -->
<!-- </div> -->
